<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>108332786191-7e2i2e7lemn267mhnl8irvslvkvqvtaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108332786191-7e2i2e7lemn267mhnl8irvslvkvqvtaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBfl8sxuwB6tRIyekfg7EzegA9KVH4_XOM</string>
	<key>GCM_SENDER_ID</key>
	<string>108332786191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RandomVisual.RemoteConfigBasics</string>
	<key>PROJECT_ID</key>
	<string>remote-config-basics</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-basics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:108332786191:ios:52921d4374c798e6</string>
	<key>DATABASE_URL</key>
	<string>https://remote-config-basics.firebaseio.com</string>
</dict>
</plist>